:root
{
  --yellow: #F5C32C;
    --red : #ef3c36;
    --black : #242D49;
    --gray : #dee0e4;
    --green: #8bef2d;
    --blueCard : #007AFF;
    --purple: #9c48e5;
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);

    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 2rem 5rem;
    overflow: hidden;
    color: var(--black);
}

.button {
  border-radius: 0.3rem;
  border: none;
  background-color: #007AFF;
  color: white;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  width: 10rem;
  height: 10rem;
  transition: background-color 0.3s ease, border 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.button:hover {
  background-color: #0160c5;
  cursor: pointer;
}


.button-secondary {
  border-radius: 5px;
  border: none;
  background-color: var(--gray);
  color: var(--blueCard);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  width: 10rem;
  height: 10rem;
  transition: background-color 0.3s ease, border 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
